body {
    font-family: poppins,roboto,sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    width:100vw;
    height: 150vh;
    flex-direction: column;
  }
.nav-container {
    padding-left: 1%;
    display: flex;
    width: 95%;
    justify-content: space-between;
    padding-right: 4%;
    background-color: #03588e;
    color: #fff;
  }
  .logo {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 5px;
  }
  .nav-elem1 {
    display: flex;
    align-items: center;
  }
  .nav-elem {
    display: flex;
  }
  .btn {
    padding: 35px;
    border: 0px;
    background: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
  }
  .btn:hover {
    background-color: #fff;
    border: 3px solid #0a5381;
    color: #0a5381;
  
      cursor: pointer;
    transition: .7s;
  }
  .logo-name{
      margin-left: 20px;
  }
  .nav-ops {
    display: flex;
  }
  .burger-menu{
    display:none;
  }
  @media only screen and (max-width:630px){
    .nav-ops{
      display: none;
    }
    .nav-container{
      padding-left: 0px;
      width:100%; 
    }
    .burger-menu{
      display:block;
      display: flex;
      align-items:center ;
      justify-content:center;
    }
  }
  @media only screen and (max-width:840px){
    .child-elem-nav{
      font-size: 0.8rem;
      
    }
    .logo{
      width:70px;
      height:70px;
    }
    .logo-name{
      font-size: 0.9rem;
    }
  }